<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grupo2.restaurante_inteligente">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:versionCode="1"
        android:versionName="1.0"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Expedia Tisch"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".EstadoBateria"></activity>
        <activity android:name=".EstadoRestaurante" />
        <activity android:name=".EstadoMesa" />
        <activity android:name=".Menu" />
        <activity android:name=".LogoBienvenida">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Services.MyFirebaseInstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".MainActivity" />
    </application>

</manifest>